.has-curtain {
  position: relative;
  // overflow: hidden;
  --curtain-scale-x: 0;
  --curtain-transform-origin: 50% 100%;

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%; // Slightly larger than parent to avoid glitchy transform artifact
    height: 100%;
    transform: scale(1, var(--curtain-scale-x, 0));
    transform-origin: var(--curtain-transform-origin, 50% 100%);
    background-color: darken($primary-color, 10%);
  }
}
