/*
A simple little SCSS mixin for creating scrim gradients
Inspired by Andreas Larson - https://github.com/larsenwork
https://css-tricks.com/easing-linear-gradients/
*/

@mixin scrimGradient($startColor, $direction) {
  $scrimCoordinates: (
    0: 1,
    19: 0.738,
    34: 0.541,
    47: 0.382,
    56.5: 0.278,
    65: 0.194,
    73: 0.126,
    80.2: 0.075,
    86.1: 0.042,
    91: 0.021,
    95.2: 0.008,
    98.2: 0.002,
    100: 0
  );

  $hue: hue($startColor);
  $saturation: saturation($startColor);
  $lightness: lightness($startColor);
  $stops: ();

  @each $colorStop, $alphaValue in $scrimCoordinates {
    $stop: hsla($hue, $saturation, $lightness, $alphaValue)
      percentage($colorStop/100);
    $stops: append($stops, $stop, comma);
  }

  background: linear-gradient(unquote($direction), $stops);
}

.footer {
  position: relative;
  flex-grow: 1;
  height: 0.625rem;
  width: 100%;
  background-color: $primary-color;
  z-index: -1;
  order: 0;
  transform-origin: 0% 100%;
  --gradient-opacity: 0;

  &::before {
    content: "";
    position: absolute;
    top: -300px;
    bottom: 100%;
    left: 0;
    right: 0;
    @include scrimGradient($primary-color, "to top");
    opacity: var(--gradient-opacity, 0);
  }

  @include breakpoint($small) {
    min-height: 6.875rem;
    width: 50vw;
    order: 3;
  }
}
