.header {
  display: flex;
  padding: $gutter;
  align-items: center;
  position: fixed;
  z-index: 10;
  width: 100%;
  box-sizing: border-box;

  @include breakpoint($large) {
    padding: 2.5rem 0 0 0;
  }
}

.header-button {
  display: flex;
  align-items: center;
  border-width: 0;
  padding: 0;
  margin: 0 0.625rem;
  background-color: transparent;
  opacity: 0;
  cursor: pointer;
  color: $primary-color;

  &:last-of-type {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    color: lighten($primary-color, 20);
  }
}

.header-button-icon {
  display: block;
  fill: currentColor;
  height: 1.25rem;
  width: 2.188rem;
  transition: all 250ms $easeOutCubic;
}
