// Structure
$wwrapper-width: 75rem;
$gutter: 25px;

// Breakpoints
$large: 1200px;
$medium: 1000px;
$small: 800px;
// Allow easy JS access
:root {
  --bp-large: $large;
  --bp-medium: $medium;
  --bp-small: $small;
}

// Easings
$easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);

// Colors
$body-bg-color: #151515;
$main-bg-gradient-start: #3d3d3d;
$main-bg-gradient-stop: #1b1b1b;
$text-color: #ffffff;
$pretitle-color: #919191;
$primary-color: #ff4f00;
$color-black: #000000;
$thumbnail-progress-background: #696969;
