// VENDORS
@import "~normalize.css/normalize";

// LOCAL
@import "./abstract/variables";
@import "./abstract/flex";
@import "./abstract/breakpoint";
@import "./abstract/font-faces";
@import "./typography/headings";
@import "./typography/text";
@import "./components/buttons";
@import "./components/thumbnails";
@import "./components/slideshow";
@import "./components/slideshow-controls";
@import "./components/footer";
@import "./components/header";
@import "./components/logo";
@import "./components/content";
@import "./components/curtain";
@import "./components/grain";

body {
  // background-color: $body-bg-color;
  font-family: Gilroy, sans-serif;
  overflow-x: hidden;
  background: radial-gradient(
    circle at 50%,
    $main-bg-gradient-start,
    $main-bg-gradient-stop
  );
}

.main {
  flex-direction: column;

  @include breakpoint($small) {
    flex-direction: row;
  }
}

.wwrapper {
  max-width: $wwrapper-width;
  width: 100%;
  margin: auto;
}

.column {
  width: 100%;

  @include breakpoint($small) {
    width: 50%;
  }
}
