// VENDORS
@import "~normalize.css/normalize";

// LOCAL
@import "./abstract/variables";
@import "./abstract/flex";
@import "./abstract/font-faces";
@import "./typography/headings";
@import "./typography/text";
@import "./components/buttons";
@import "./components/thumbnails";

body {
  background-color: $body-bg-color;
  font-family: Gilroy, sans-serif;
}

.wwrapper {
  max-width: 1200px;
  margin: auto;
}

.main-visual-container,
.text-content-container {
  width: 50%;
}

main {
  // @FIXME Gradient isn't smooth because start and stop values are very close.
  // lead n°1 - make it a plain background, use a absolute positioned pseudo element, apply a white to black gradient, play with it's opacity and blend mode
  // lead n°2 - use canvas
  // lead n°3 - use image
  background: radial-gradient(
    circle at 50%,
    $main-bg-gradient-start,
    $main-bg-gradient-stop
  );
}

.main-visual {
  max-width: 100%;
}

.text-content-container {
  box-sizing: border-box;
  color: $text-color;
}

.text-content-wrapper {
  padding: 5rem 8.75rem 5rem 5.3125rem;
}
