// VENDORS
@import "~normalize.css/normalize";

// LOCAL
@import "./abstract/variables";
@import "./abstract/flex";
@import "./abstract/breakpoint";
@import "./abstract/font-faces";
@import "./typography/headings";
@import "./typography/text";
@import "./components/buttons";
@import "./components/thumbnails";
@import "./components/slideshow";
@import "./components/slideshow-controls";
@import "./components/footer";
@import "./components/header";
@import "./components/logo";
@import "./components/content";

.has-curtain {
  position: relative;
  --curtain-scale-x: 0;
  --curtain-transform-origin: 0% 0%;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(var(--curtain-scale-x, 0));
    transform-origin: var(--curtain-transform-origin, 100% 0%);
    background-color: $primary-color;
  }
}

body {
  // background-color: $body-bg-color;
  font-family: Gilroy, sans-serif;
  overflow-x: hidden;
  background: radial-gradient(
    circle at 50%,
    $main-bg-gradient-start,
    $main-bg-gradient-stop
  );
}

.main {
  flex-direction: column;

  @include breakpoint($small) {
    flex-direction: row;
  }
}

.wwrapper {
  max-width: $wwrapper-width;
  width: 100%;
  margin: auto;
}

.column {
  width: 100%;

  @include breakpoint($small) {
    width: 50%;
  }
}
